@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');
 
body {
  font-family: 'David Libre', serif;
}
html, body {
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}